<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DivinationForLove</title>
</head>
<body>
<header>
    <h1>Приветствую вас на сайте для гадания на любовь!</h1>
</header>
<main>
    <h2>Для продолжения нажмите на кнопку</h2>
    <form action="starting" method="get">
            <input type="submit" value="Перейти">
    </form>
</main>
</body>
</html>