<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DivinationForLove</title>
</head>
<body>
    <header>
        <h1>Приветствую вас на сайте для гадания на любовь!</h1>
        <nav>
            <ol>
                <li>Начало</li>
                <li>Середина</li>
                <li>Конец</li>
            </ol>
        </nav>
    </header>

    <main>
        <p>
            На данном сайте вы можете узнать имя вашего <span style="color: aqua">возлюбленного</span>. Карты подскажут!
        </p>
        <form action="#">
            <fieldset>
                <legend>
                    Ввод имен
                </legend>
                <label>
                    Имя 1
                    <input type="text" placeholder="Имя">
                </label>
                <label>
                    Имя 2
                    <input type="text" placeholder="Имя">
                </label>
                <label>
                    Имя 3
                    <input type="text" placeholder="Имя">
                </label>
                <label>
                    Имя 4
                    <input type="text" placeholder="Имя">
                </label>
                <br>
                <textarea cols="30" rows="10"></textarea>
                <br>
                <label> Имена готовы?<input type="checkbox"></label>
                <input type="submit">
            </fieldset>
        </form>
    </main>

    <footer>
        <a href="https://github.com/BadPetrovich">Сслыка на гитхаб</a>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Kermit_the_Frog.jpg/220px-Kermit_the_Frog.jpg"
             alt="image">
    </footer>



</body>

</html>