<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DivinationForLove</title>
</head>
<body>
<header>
    <h1>Приветствую вас на сайте для гадания на любовь!</h1>
</header>
<main>
    <p>
        На данном сайте вы можете узнать имя вашего <span style="color: aqua">возлюбленного</span>. Карты подскажут!
    </p>

    <form action ="#" th:action="@{/game}" method="post">
        <label>Name</label>
        <input type="text" th:object="${firstLover}" th:value="{name}" placeholder="Имя">
        <label>Name</label>
        <input type="text" th:object="${secondLover}" th:field="{name}" placeholder="Имя">
        <label>Name</label>
        <input type="text" th:object="${thirdLover}" th:field="{name}" placeholder="Имя">
        <label>Name</label>
        <input type="text" th:object="${fourthLover}" th:field="{name}" placeholder="Имя">
        <input type="submit" value="Отправить">
    </form>
</main>
<footer>
    <a href="https://github.com/BadPetrovich">Сслыка на гитхаб</a>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Kermit_the_Frog.jpg/220px-Kermit_the_Frog.jpg"
         alt="image">
</footer>
</body>
</html>