<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DivinationForLove</title>
</head>
<body>
<header>
    <h1>Приветствую вас на сайте для гадания на любовь!</h1>
</header>
<main>
    <p>
        На данном сайте вы можете узнать имя вашего <span style="color: aqua">возлюбленного</span>. Карты подскажут!
    </p>

    <form action ="#" th:action="@{/game}" th:object="${firstLover}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Имя">
        <input type="submit" value="Отправить">
    </form>

<!--    <form action="game" method="get">-->
<!--        <fieldset>-->
<!--            <legend>-->
<!--                Ввод имен-->
<!--            </legend>-->
<!--            <label>-->
<!--                Имя 1-->
<!--                <input type="text" name="firstName" placeholder="Имя">-->
<!--            </label>-->
<!--            <label>-->
<!--                Имя 2-->
<!--                <input type="text" name="secondName" placeholder="Имя">-->
<!--            </label>-->
<!--            <label>-->
<!--                Имя 3-->
<!--                <input type="text" name="thirdName" placeholder="Имя">-->
<!--            </label>-->
<!--            <label>-->
<!--                Имя 4-->
<!--                <input type="text" name="fourthName" placeholder="Имя">-->
<!--            </label>-->
<!--            <br>-->
<!--            <br>-->
<!--            <input type="submit">-->
<!--        </fieldset>-->
<!--    </form>-->
</main>
<footer>
    <a href="https://github.com/BadPetrovich">Сслыка на гитхаб</a>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Kermit_the_Frog.jpg/220px-Kermit_the_Frog.jpg"
         alt="image">
</footer>
</body>
</html>